{%- if cookiecutter.project_type == "wf-basecalling" %}
{%- if cookiecutter.with_docker %}
docker {
    runOptions = '--user $(id -u):$(id -g) --group-add 100 --volume <your_dorado_models_path>:<your_dorado_models_path>'
}
{%- else %}
singularity {
    runOptions = '-B <your_dorado_models_path>'
}
{%- endif %}

env {
    DRD_MODELS_PATH = '<your_dorado_models_path>'
}
{%- endif %}
{%- if cookiecutter.project_type == "nf-core/methylseq" %}
// pin plugins to work offline
// manually install with:
// nextflow plugin install nf-schema@2.4.2
plugins {
    id "nf-schema@2.4.2"
}
{%- elif cookiecutter.project_type == "nf-core/methylong" %}
// pin plugins to work offline
// manually install with:
// nextflow plugin install nf-schema@2.5.1
plugins {
    id "nf-schema@2.5.1"
}
{%- elif cookiecutter.project_type == "nf-core/rnaseq" %}
// pin plugins to work offline
// manually install with:
// nextflow plugins install nf-core-utils@0.4.0
// nextflow plugins install nf-schema@2.6.1
plugins {
    id 'nf-core-utils@0.4.0' // nf-core-utils is a collection of utilities for Nextflow pipelines
    id 'nf-schema@2.6.1'     // Validation of pipeline parameters and creation of an input channel from a sample sheet
    id 'nf-amazon@3.4.4'     // Amazon Web Services integration for Nextflow
}
{%- endif %}

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
}
