{%- if cookiecutter.project_type == "wf-basecalling" %}
{%- if cookiecutter.with_docker %}
docker {
    runOptions = '--user $(id -u):$(id -g) --group-add 100 --volume <your_dorado_models_path>:<your_dorado_models_path>'
}
{%- else %}
singularity {
    runOptions = '-B <your_dorado_models_path>'
}
{%- endif %}

env {
    DRD_MODELS_PATH = '<your_dorado_models_path>'
}
{%- endif %}
{%- if cookiecutter.project_type == "nf-core/methylseq" %}
// pin plugins to work offline
// manually install with:
// nextflow plugin install nf-schema@2.4.2
plugins {
    id "nf-schema@2.4.2"
}
{%- elif cookiecutter.project_type == "nf-core/methylong" %}
// pin plugins to work offline
// manually install with:
// nextflow plugin install nf-schema@2.2.0
plugins {
    id "nf-schema@2.2.0"
}

process {
    withName: MODKIT_PILEUP {
        ext.args = {
            [
                "--preset traditional",
                "--log-filepath ${meta.id}_pileup.log"
            ].join(' ')
        }
    }
}
{%- endif %}

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
}
