
{% if cookiecutter.project_type == "wf-basecalling" %}
env {
    DRD_MODELS_PATH = '/dorado_models'
}

docker {
    runOptions = '--user $(id -u):$(id -g) --group-add 100 --volume <your_dorado_models_path>:/dorado_models'
}
{% endif %}

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
}
