
## Collect dorado docker image

Open [base.config](https://github.com/bunop/wf-basecalling/blob/multiple_calling/base.config)
in [wf-basecalling](https://github.com/bunop/wf-basecalling/tree/multiple_calling)
custom github repository (which support multiple models with basecalling), and
search for `container_sha_basecalling` (should be at the beginning of file):

```groovy
<paste params directive here>
```

Then collect the dorado docker image with the following command (using the sha
from `base.config`):

```bash
{%- if cookiecutter.with_docker %}
docker pull ontresearch/dorado:<collect container_sha_basecalling>
{%- else %}
singularity pull $NXF_SINGULARITY_CACHEDIR/ontresearch-dorado-<collect container_sha_basecalling>.img \
    docker://ontresearch/dorado:<collect container_sha_basecalling>
{%- endif %}
```

## Update models

To update the models, run the following command (again, mind the sha):

```bash
mkdir -p <your_dorado_models_path>
{%- if cookiecutter.with_docker %}
docker run -ti --rm --user $(id -u):$(id -g) --group-add 100 \
    --volume <your_dorado_models_path>:/dorado_models/ \
    ontresearch/dorado:<collect container_sha_basecalling> \
    dorado download --models-directory /dorado_models/
{%- else %}
singularity run --bind <your_dorado_models_path> \
    $NXF_SINGULARITY_CACHEDIR/ontresearch-dorado-<collect container_sha_basecalling>.img \
    dorado download --models-directory <your_dorado_models_path>
{%- endif %}
```

Then ensure that the `conf/custom.config` file has the correct path to the models:

```groovy
{%- if cookiecutter.with_docker %}
env {
    DRD_MODELS_PATH = '/dorado_models'
}

docker {
    runOptions = '--user $(id -u):$(id -g) --group-add 100 --volume <your_dorado_models_path>:/dorado_models'
}
{%- else %}
env {
    DRD_MODELS_PATH = '<your_dorado_models_path>'
}

singularity {
    runOptions = '--bind <your_dorado_models_path>'
}
{%- endif %}
```

> [!NOTE]
> the models are downloaded to the `<your_dorado_models_path>` directory

## Collect data

Create symlinks to the pod5 files:

```bash
mkdir -p data/pod5
cd data/pod5
find <pod 5 folder> -type f -name "*.pod5" -exec ln -s {} . \;
```

## Creating samplesheet

Create `conf/samplesheet.csv` like this::

```csv
experiment_id,kit,flow_cell_id,barcode,alias
< fill with data >
```

Other information can be obtained from `report_*.json`
file using `jq`:

```bash
jq -r '.protocol_run_info' report_*.json | less
```

And from `sample_sheet_*.csv` file.

> [!NOTE]
> you can execute the `scripts/parse_ont_report.py` script to extract information
> from the JSON report files.
>
> [!WARNING]
> ensure to remove to `BOM TEXT` from the csv file, is this CSV is generated on Windows:
> for example:
>
> ```bash
> file conf/samplesheet.csv
> sed -i '1s/^\xEF\xBB\xBF//' conf/samplesheet.csv
> file conf/samplesheet.csv
> ```

## List avalable models

To list the available models, run the following command:

```bash
{%- if cookiecutter.with_docker %}
docker run -ti --rm --user $(id -u):$(id -g) --group-add 100 \
    --volume <your_dorado_models_path>:<your_dorado_models_path> \
    ontresearch/dorado:<collect container_sha_basecalling> \
    dorado download --list-structured | grep -v Running | \
    jq -r '.["dna_r10.4.1_e8.2_400bps_5khz"].simplex_models["dna_r10.4.1_e8.2_400bps_sup@v5.2.0"]'
{%- else %}
singularity run --bind <your_dorado_models_path> \
    $NXF_SINGULARITY_CACHEDIR/ontresearch-dorado-<collect container_sha_basecalling>.img \
    dorado download --list-structured | grep -v Running | \
    jq -r '.["dna_r10.4.1_e8.2_400bps_5khz"].simplex_models["dna_r10.4.1_e8.2_400bps_sup@v5.2.0"]'
{%- endif %}
```

You will get an output like this:

```json
< paste available dorado models >
```

You will need specify models belonging to different context (ex: `C` and `A`;
`CG` and `C` are considered same context)

## Calling wf-basecalling pipeline

Called the latest `wf-basecalling` pipeline (`v1.5.8`) customize to support
different models with different context (https://github.com/bunop/wf-basecalling/tree/multiple_calling)
using:

```bash
nextflow run bunop/wf-basecalling -r v1.5.8 -profile {% if cookiecutter.with_docker %}standard{% else %}singularity{% endif %} -resume \
    -c conf/custom.config -params-file conf/params.json
```

> [!NOTE]
> is not possible to call `--duplex=true` and `--barcode_kit=XXX-XXXXX-XX`
> at the same time, *demultiplexing* should be done after basecalling.

## Post processing

### calling PyCOQC

Calculate quality control metrics using `pycoQC`:

```bash
{%- if cookiecutter.with_docker %}
docker run -ti --rm --user $(id -u):$(id -g) -v ${PWD}/output:${PWD}/output \
    community.wave.seqera.io/library/pip_pycoqc_setuptools:31d5a8754dcc1b68 \
    pycoQC -f ${PWD}/output/SAMPLE.summary.tsv.gz -o ${PWD}/output/SAMPLE.summary.html
{%- else %}
singularity run --bind ${PWD}/output \
    $NXF_SINGULARITY_CACHEDIR/pip_pycoqc_setuptools_31d5a8754dcc1b68.sif \
    pycoQC -f ${PWD}/output/SAMPLE.summary.tsv.gz -o ${PWD}/output/SAMPLE.summary.html
{%- endif %}
```

### Join passed simplex and duplex reads

Called reads are divided into two groups: `simplex` and `duplex` for both passed
and failed reads:

```text
SAMPLE.fail.duplex.cram
SAMPLE.fail.simplex.cram
SAMPLE.pass.duplex.cram
SAMPLE.pass.simplex.cram
```

Let's join the `pass` reads into a single file:

```bash
{%- if cookiecutter.with_docker %}
docker run -ti --rm --user $(id -u):$(id -g) -v ${PWD}/output:${PWD}/output \
    quay.io/biocontainers/samtools:1.21--h50ea8bc_0 \
    samtools merge -o ${PWD}/output/SAMPLE.pass.all.cram ${PWD}/output/SAMPLE.pass.duplex.cram ${PWD}/output/SAMPLE.pass.simplex.cram
docker run -ti --rm --user $(id -u):$(id -g) -v ${PWD}/output:${PWD}/output \
    quay.io/biocontainers/samtools:1.21--h50ea8bc_0 \
    samtools index ${PWD}/output/SAMPLE.pass.all.cram
{%- else %}
singularity run --bind ${PWD}/output \
    $NXF_SINGULARITY_CACHEDIR/depot.galaxyproject.org-singularity-samtools-1.21--h50ea8bc_0.img \
    samtools merge -o ${PWD}/output/SAMPLE.pass.all.cram ${PWD}/output/SAMPLE.pass.duplex.cram ${PWD}/output/SAMPLE.pass.simplex.cram
singularity run --bind ${PWD}/output \
    $NXF_SINGULARITY_CACHEDIR/depot.galaxyproject.org-singularity-samtools-1.21--h50ea8bc_0.img \
    samtools index ${PWD}/output/SAMPLE.pass.all.cram
{%- endif %}
```

### Demultiplexing

Do demultiplexing using `dorado`, this to produce both `fastq` files:

```bash
mkdir -p demux
{%- if cookiecutter.with_docker %}
docker run -ti --rm --user $(id -u):$(id -g) --group-add 100 --volume ${PWD}:${PWD} \
    ontresearch/dorado:<collect container_sha_basecalling> \
    dorado demux --kit-name XXX-XXXXX-XX --threads 2 --verbose \
    --output-dir ${PWD}/demux --emit-fastq --emit-summary \
    --sample-sheet ${PWD}/conf/samplesheet.csv \
    ${PWD}/output/SAMPLE.pass.all.cram
{%- else %}
singularity run --bind ${PWD} \
    ${NXF_SINGULARITY_CACHEDIR}/ontresearch-dorado-<collect container_sha_basecalling>.img \
    dorado demux --kit-name XXX-XXXXX-XX --threads 2 --verbose \
    --output-dir ${PWD}/demux --emit-fastq --emit-summary \
    --sample-sheet ${PWD}/conf/samplesheet.csv \
    ${PWD}/output/SAMPLE.pass.all.cram
{%- endif %}
```

pack demultiplexed reads:

```bash
find demux/ -type f -iname "*.fastq" -exec gzip {} \;
```

and for `ubam` files:

```bash
mkdir -p demux
{%- if cookiecutter.with_docker %}
docker run -ti --rm --user $(id -u):$(id -g) --group-add 100 --volume ${PWD}:${PWD} \
    ontresearch/dorado:<collect container_sha_basecalling> \
    dorado demux --kit-name XXX-XXXXX-XX --threads 2 --verbose \
    --output-dir ${PWD}/demux --emit-summary \
    --sample-sheet ${PWD}/conf/samplesheet.csv \
    ${PWD}/output/SAMPLE.pass.all.cram
{%- else %}
singularity run --bind ${PWD} \
    ${NXF_SINGULARITY_CACHEDIR}/ontresearch-dorado-<collect container_sha_basecalling>.img \
    dorado demux --kit-name XXX-XXXXX-XX --threads 2 --verbose \
    --output-dir ${PWD}/demux --emit-summary \
    --sample-sheet ${PWD}/conf/samplesheet.csv \
    ${PWD}/output/SAMPLE.pass.all.cram
{%- endif %}
```
